<h1>Exchange Rate</h1>

<div>
  <input type="number" min="1" [(ngModel)]="valor1"><br>
  <select name="firstValue" id="firstValue" [(ngModel)]="coin1"><!-- diretiva -->
    <option *ngFor="let coin1 of currencyLabels" [value]="coin1">{{coin1}}</option>
  </select>
</div>

<div>
  <input type="number" readonly min="1" [(ngModel)]="valor2"> <br>
  <select name="secondValue" id="secondValue" [(ngModel)]="coin2">
    <option *ngFor="let coin2 of currencyLabels" [value]="coin2">{{coin2}}</option>
  </select>
</div> <br>
<input type="submit" id="submit" (click)="exchangeRate()">
<!-- ExchangeRate -->
